# Telegram Configuration
TELEGRAM_BOT_TOKEN=6264646484:AAahgfakhgkjashgkijerahgikhj
TELEGRAM_CHAT_ID=27548655545

# Binance Configuration
BINANCE_API_URL=https://api.binance.com/api/v3

# Trading Configuration
SYMBOLS=BTCUSDT,ETHUSDT,BNBUSDT,XRPUSDT,SOLUSDT,ADAUSDT,DOGEUSDT,LTCUSDT,ENAUSDT,SUIUSDT,AVAXUSDT
TIMEFRAME=15m
INTERVAL=5 # in minutes

# Indicator Configuration
BB_PERIOD=20
BB_MULTIPLIER=2
RSI_PERIOD=14
RSI_OVERSOLD=30
RSI_OVERBOUGHT=70
VOLUME_PERIOD=20
VOLUME_MULTIPLIER=1.5
EMA_SHORT=50
EMA_LONG=200